*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html {
  background-color: #efefef;
}

body {
  font-family: 
    'Quicksand',
    'Segoe UI', 
    'Roboto', 
    'Oxygen',
    'Ubuntu', 
    'Cantarell', 
    'Fira Sans', 
    'Droid Sans', 
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
